<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>

</head>

<body>
  <div id="app">
    <!--
      <span v-if="see">Now you see me</span>
      <span v-else>Now you see me</span>
    -->
    <div v-for="step in steps">{{step}}</div>

  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        steps: [
          '學javascript',
          '學Vue',
          '年薪百萬'
        ]
      },
    });
  </script>

</body>

</html>
