<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
  <style>
    #app{
      text-align: center;
      font-family: Microsoft JhengHei;
      font-size: 32px;
      color: red;
    }
  </style>
</head>

<body>
  <div id="app">
    <input type="checkbox" v-model="checked1" />
    <input type="checkbox" v-model="checked2" />

    <!--
      <template v-if="checked">
        <h1>跳樓大拍賣</h1>
      </template>
    -->

    <!--v-else 必須接在v-if之後-->
    <h1 v-if="checked1">跳樓大拍賣</h1>
    <h1 v-else-if="checked2">夥計隨便賣</h1>
    <h1 v-else>老闆不在家</h1>

  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        checked1: false,
        checked2: false,
      }

    })
  </script>

</body>

</html>
