<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
</head>

<body>

  <div id="app">

  </div>

  <script>
    Vue.component('my-component', {
      template: '<option>Hello</option>'
    });

    new Vue({
      el: '#app',
      template: '<div id="app"><select><my-component>test</my-component></select></div>'
    });
  </script>

</body>

</html>
